body {
  color: black;
  font-size: 20px;
  background-color: white;
}

html,body {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

.headerBG {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url('../img/treebackground.jpg');
  background-position: center;
  background-size: cover;
}

.headerDiv {
  height: 80%;
  max-width: 50%;
  font-size: 14.5px;
  background: rgba(255, 255, 255, 0.9);
  margin: 15px;
  padding: 10px;
  box-shadow: 1px 1px 10px lightslategrey;
  border-radius: 5px;
}

.headerDiv a:link, a:visited {
  color: black;
}

.headerDiv a:hover {
  color: rgb(244, 67, 54);
}

.pictureDiv a:link, a:visited {
  color: black;
}

.pictureDiv a:hover {
  color: rgb(244, 67, 54);
}

#headerPicture {
  object-fit: contain;
  max-width: 260px;
  border: 1px solid black;
  float: right;
}

#emailForm {
  margin: 10px;
  color: black;
  font-size: 14.5px;
}

#emailForm a {
  color: black;
}

.pictureDiv {
  max-width: 260px;
  margin: 15px;
}

#headerName {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 50px;
}

.headerName:hover {
  color: white;
}

.mainDivPadding {
  padding: 10px;
}

.examplePictures {
  border: 1px solid grey;
  margin-top: 15px;
}

.socialMedia {
  text-align: center;
  color: white;
  padding-top: 15px;
  font-size: 16px;
}

.socialMediaIcon {
  margin-right: 15px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

#shatter {
  background-color: white;
  opacity: 0.8;
}

#shatter a {
  text-decoration: underline;
}

.languagesTop {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: black;
  background-color: #EEEEEE;
  padding-top: 5px;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

form div label {
  position: absolute;
  top: 10px;
  left: 5px;
  pointer-events: none;
  color: black;
}

form input, textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
}

form .field {
  padding-top: 5px;
  padding-bottom: 5px;
}

 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #909090 !important;
  opacity: 1; /* Firefox */
}

 :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #909090 !important;
}

 ::-ms-input-placeholder { /* Microsoft Edge */
  color: #909090 !important;
}

 form div {
  position: relative;
}

 form input:not(.button) {
  padding-top: 15px !important;
}

form input:focus ~ label,
form input:valid:not(:placeholder-shown) ~ label,
form input:invalid:not(:placeholder-shown) ~ label,
form .field_with_errors ~ label
{
  top: 4px;
  font-size: 10px;
}

.comingSoon {
  font-size: 14.5px;
  text-align: center;
  font-style: italic;
}
