

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.headerBG {
    background-image: url('../img/welcome banner 2.png');
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgb(153, 217, 234);
     background-attachment: local;
}

.headerDiv {
    background-image: url('../img/header div background.png');
    background-repeat: no-repeat;
    height: 323px;
    width: 623px;
    color: darkslategrey;
    margin-bottom: 50px;
    }

.headerDivPadding {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 28px;
    padding-bottom: 40px;

}

.headerPadding {
    padding-top: 150px;
    padding-left: 26px;
}

#headerDivFont{
    font-size: 11px;
    font-family: tahoma;
}

.headerPicPadding{
    top: -45px;
}














