body {
  color: black;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

html,body {
  width:100%;
  padding: 0px;
  margin: 0px;
}

.container-fluid {
  padding-right:-100px;
  padding-left:0;
  padding-top: 150px;
  border-bottom: 3px solid black;
}

.row {
  padding-right:0px;
  padding-left:0px;
}

.col {
  padding-right:0px;
  padding-left:0px;
}

.headerRow {
  margin-left: 300px;
}


.headerBG {
  background-image: url('../img/pencils.jpg');
  background-position: center;
  background-size: cover;
  margin-top: -75px;
  min-width: 700px;
  margin-bottom: 30px;
}

.headerDiv {
  height: 350px;
  max-width: 560px;
  color: white;
  top: -48px;
  margin: 10px;
  float: right;
  font-size: 14.5px;
  font-family: Arial;
  margin-top: 0px;
}

.headerDiv a:link, a:visited {
  color: white;
}

.headerDiv a:hover {
  color: rgb(244, 67, 54);
}

#headerPicture {
  object-fit: contain;
  max-width: 260px;
  border: 1px solid black;
  float: right;
}

#emailForm {
  color: black;
  font-size: 14.5px;
  font-family: Arial;
}

#emailForm a {
  color: black;
}

.pictureDiv {
  max-width: 260px;
  float: right;
}

.headerName {
  font-family: 'Georgia';
  font-size: 30px;
  width: 300px;
  color: black;
  top: -60px;
  padding-left: 303px;
}

.headerName:hover {
  color: white;
}

.mainDivPadding {
  padding: 10px;
}

.pictureButtons {
  width: 260px;
  margin-right: 530px;
  margin-top: -100px;
  float: right;
  text-align: center;
}

.examplePictures {
  border: 1px solid grey;
  margin-top: 15px;
}

.contactMe {
  max-width: 250px;
  text-align: center;
  font-family: 'Arial';
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}

.socialMedia {
  text-align: center;
  color: white;
}

.socialMediaIcon {
  margin-right: 15px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

.stickyNote {
  background-image: url('../img/stickyNote.png');
  min-height: 335px;
  background-repeat: no-repeat;
  width: 100%;
  margin-right: 0px;
  min-width: 360px;
}

.socialMediaIconSticky {
  margin: 25px;
  padding-left: 70px;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
}

.socialMediaIconSticky a:link, .socialMediaIconSticky a:visited {
  letter-spacing: 10px;
  color:black;
}

.socialMediaIconSticky a:hover {
  color: rgb(244, 67, 54);
}

.languagesTop {
  font-family: 'Arial';
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}

.carousel img {
   margin: auto;
   object-fit: contain;
   max-height: 300px;
   padding-bottom: 0px;
   margin-bottom: 0px;
}

.carousel a {
  font-weight: bold;
  color: black;
  font-size: 33px;
}

.carousel-caption {
  color: black;
  background-color: rgba(220,220,220, 0.5);
  padding: 0px;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

footer {
  text-align: center;
  font-size: 14px;
}
